@model IEnumerable<RESERVA_C.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

@if (User.IsInRole("AdminRol") || User.IsInRole("EmpleadoRol"))
{
    <td>
        <a asp-action="Create">Create New</a>
    </td>
    @using (Html.BeginForm("Index", "Reservas"))
    {
        <div class="form-group">
            @Html.Label("Función: ",null, new { @class = "control-label" })
            @Html.DropDownList("funcionId", ViewBag.Funciones as SelectList, "Todas", new { @class = "form-control" })
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        </div>
    }

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Activa)
            {
                <tr>
                    @if (User.IsInRole("AdminRol") || User.IsInRole("EmpleadoRol"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcion.FuncionCompleta)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcion.Descripcion)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadButacas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activa)
                    </td>
                    <td>
                        @if (User.IsInRole("EmpleadoRol") || User.IsInRole("AdminRol"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            if (item.Activa)
                            {
                                <a asp-action="Cancelar" asp-route-id="@item.Id">Cancelar Reserva</a>
                            }
                        }

                    </td>
                </tr>
            }

        }
    </tbody>
</table>
<h1>Reservas Inactivas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (!item.Activa)
            {
                <tr>
                    @if (User.IsInRole("AdminRol") || User.IsInRole("EmpleadoRol"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcion.FuncionCompleta)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcion.Descripcion)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadButacas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activa)
                    </td>
                    <td>
                        @if (User.IsInRole("EmpleadoRol") || User.IsInRole("AdminRol"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            if (item.Activa)
                            {
                                <a asp-action="Cancelar" asp-route-id="@item.Id">Cancelar Reserva</a>
                            }
                        }

                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>
