@model IEnumerable<RESERVA_C.Models.Pelicula>

@{
    ViewData["Title"] = "Cartelera";
}

<h1>Index</h1>
@if (User.IsInRole("EmpleadoRol") || User.IsInRole("AdminRol"))
{
    <p>
        <a asp-action="Create">Crear Pelicula</a>
    </p>
}
@using (Html.BeginForm("Index", "Peliculas"))
{
    <div class="form-group">
        @Html.Label("Genero", null, new { @class = "control-label" })
        @Html.DropDownList("generoId", ViewBag.Generos as SelectList, "Todos", new { @class = "form-control" })
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                    @if (User.IsInRole("EmpleadoRol") || User.IsInRole("AdminRol"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
                    }
                    |<a asp-action="Details" asp-route-id="@item.Id">Details </a>| 
                    <a asp-controller="Funciones" asp-action="Index" asp-route-peliculaId="@item.Id">Ver Funciones</a>|
            </td>
        </tr>
}
    </tbody>
</table>
